local CC = Enum.ChatColor.White
game.Players.PlayerAdded:Connect(function(player)
player.Chatted:Connect(function(msg)
if msg == "Hello" then
game:GetService("Chat"):Chat(script.Parent.Head, "Hi", Enum.CC)
    end
  end)
end)

